
table{
    width: 300px;
}
table,tr,td{
    border: 2px solid black;
    text-align: center;
}
th{
    font-weight: bold;
    background-color: orange;
}

.c1{
    background-color: blue;
}
.c2{
    background-color: lightblue;
}